    :root{
        --cor-de-fundo: #bb759e; 
        --verde: #0c082b; 
        --branco: #FFFFFF; 
        --botao-ativo: #3a375E; 
        --botao-inativo: rgba(58, 55, 94, 0.5);
        --texto-fundo: rgba(58, 55, 94, 0.3);
    }